.App-PageAlice {
    margin-top: 5%;
    margin-bottom: 10%;
}

.App-CardsGallery {
    margin-top: 5%;
    margin-bottom: 5%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-alice {
    width: 90%;
    margin: 0 auto;
}

.App-SingleCard {
    margin-top: 5%;
    margin-bottom: 5%;
}