.container{
    width: 80%;
    margin: 0 auto;
}

.cards-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 1em;
}

.card-bottom {
    display: grid;
    grid-template-rows: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}